#Database (PostgreSQL)
DB_HOST=localhost
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_PORT=5432

#Config API
PORT=4000

#Page
PUBLIC_URL=

#Token
JWT_SECRET=
JWT_EXPIRES_IN=5h
JWT_REFRESH_EXPIRES_IN=1d
JWT_SECRET_TEMP=

# App
NODE_ENV=development

# Mailer (Nodemailer)
MAIL_HOST_IMAP=
MAIL_PORT_IMAP=
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_ALIAS_USER=
MAIL_PASS=